<div class="container__smal-card">
  <div class="container__smal-card-content">
    <div class="smal-card__photo">
      <img
      src="https://d2d7ho1ae66ldi.cloudfront.net/ArquivoNoticias/7ec0067a-460f-11ec-aa6e-9587410378a2/marvel-disney-plus-shows.jpg"
      alt=""
      height="200px"
      >

        </div>

        <div class="smal-card__title">
      <h1><a href="http://">Saiu a nova versão do Angular</a></h1>

        </div>
  </div>

<div class="container__smal-card__separator">
  <hr>
</div>
</div>

